@font-face {
  font-family: minecraft-regular;
  src: url("./fonts/minecraft-regular.otf");
  font-weight: normal;
  font-style: normal;
}

.text-style {
  font-family: minecraft-regular, sans-serif;
  font-size: medium;
}

.image-style {
  min-width: 32px !important;
  max-width: 32px !important;
}

.image-align {
  align-items: center !important;
  justify-content: center !important;
}
