@font-face {
  font-family: minecraft-header;
  src: url("./fonts/minecraft-header.ttf");
  font-weight: normal;
  font-style: normal;
}

.header-style {
  font-family: minecraft-header, sans-serif;
  font-size: xxx-large;
  text-align: center;
  color: lightgray;
}
