@font-face {
  font-family: minecraft-regular;
  src: url("./fonts/minecraft-regular.otf");
  font-weight: normal;
  font-style: normal;
}

.level-style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: minecraft-regular, sans-serif;
  color: white;
  font-size: large;

  background-color: gray;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-bottom: 1px;
}
