@font-face {
  font-family: minecraft-regular;
  src: url("./fonts/minecraft-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: minecraft-header;
  src: url("./fonts/minecraft-header.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Generic */
.align-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Button */

.button-text {
  font-family: minecraft-regular, sans-serif;
  font-size: medium;
}

.button-image-width {
  min-width: 32px !important;
  max-width: 32px !important;
}

/* Filter */

.left-filter-align {
  text-align: right;
}

.filter-label {
  font-family: minecraft-regular, sans-serif;
  font-size: large;
  text-align: right;
}

/* Header */

.header-style {
  font-family: minecraft-header, sans-serif;
  font-size: xxx-large;
  text-align: center;
  color: lightgray;
}

/* Level */

.level-style {
  font-family: minecraft-regular, sans-serif;
  color: white;
  font-size: large;

  background-color: gray;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-bottom: 1px;
}

/* Trade */

.trade-style {
  background-color: grey;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-bottom: 1px;
}

.trade-image {
  min-width: 32px !important;
}

/* Item */

.item-style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: minecraft-regular, sans-serif;
  color: white;
  font-size: medium;
}

/* Villager */

.villager-block-width {
  min-width: 638px !important;
}

.villager-width {
  max-width: 120px !important;
}
